#!/usr/bin/env python

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# General controller behavior
grp_gen = gen.add_group("General", type="tab")
grp_gen.add("max_speed",    double_t, 0, "Maximum forward speed [m/s]",  1.8,  0.0, 5.0)
grp_gen.add("path_length",  double_t, 0, "MPC path window length [m]",   5.0,  0.5, 50.0)
grp_gen.add("delay_mode",   bool_t,   0, "Account for actuation delay",  True)
grp_gen.add("debug_info",   bool_t,   0, "Enable debug ROS_INFO output", False)

# MPC horizon
grp_mpc = gen.add_group("MPC", type="tab")
grp_mpc.add("mpc_steps",         double_t, 0, "MPC prediction horizon steps",        20.0,  5.0, 100.0)
grp_mpc.add("mpc_ref_cte",       double_t, 0, "Reference cross-track error",          0.0, -1.0,   1.0)
grp_mpc.add("mpc_ref_etheta",    double_t, 0, "Reference heading error",              0.0, -1.0,   1.0)
grp_mpc.add("mpc_ref_vel",       double_t, 0, "Reference velocity [m/s]",             1.8,  0.0,   5.0)
grp_mpc.add("mpc_max_angvel",    double_t, 0, "Maximum angular velocity [rad/s]",     1.0,  0.1,  10.0)
grp_mpc.add("mpc_max_throttle",  double_t, 0, "Maximum throttle (accel) [m/s²]",      2.0,  0.1,   5.0)
grp_mpc.add("mpc_bound_value",   double_t, 0, "Bound value for auxiliary variables",  1.0e3, 1.0, 1.0e6)

# MPC cost weights
grp_weights = gen.add_group("Weights", type="tab")
grp_weights.add("mpc_w_cte",      double_t, 0, "Cost weight: cross-track error",       2000.0,  0.0, 1.0e6)
grp_weights.add("mpc_w_etheta",   double_t, 0, "Cost weight: heading error",           1500.0,  0.0, 1.0e6)
grp_weights.add("mpc_w_vel",      double_t, 0, "Cost weight: velocity error (keep high or robot won't accelerate)", 150.0, 0.0, 1.0e4)
grp_weights.add("mpc_w_angvel",   double_t, 0, "Cost weight: angular velocity",          150.0,  0.0, 1.0e5)
grp_weights.add("mpc_w_angvel_d", double_t, 0, "Cost weight: angular velocity delta",     50.0,  0.0, 1.0e4)
grp_weights.add("mpc_w_accel",    double_t, 0, "Cost weight: acceleration",                5.0,  0.0, 1.0e4)
grp_weights.add("mpc_w_accel_d",  double_t, 0, "Cost weight: acceleration delta",          5.0,  0.0, 1.0e4)

exit(gen.generate("mpc_ros", "mpc_ros", "MPCController"))
